@media (max-width: 480px) {
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
  }
  .page-header h1 small {
    display: block;
    line-height: 20px;
  }
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .form-horizontal .controls {
    margin-left: 0;
  }
  .form-horizontal .control-list {
    padding-top: 0;
  }
  .form-horizontal .form-actions {
    padding-right: 10px;
    padding-left: 10px;
  }
  .media .pull-left,
  .media .pull-right {
    display: block;
    float: none;
    margin-bottom: 10px;
  }
  .media-object {
    margin-right: 0;
    margin-left: 0;
  }
  .modal {
    top: 10px;
    right: 10px;
    left: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }
  .carousel-caption {
    position: static;
  }
  
  .navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    border-bottom: none !important;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
    border-bottom: 4px solid #fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  text-decoration: none;
/*  border-bottom: 4px solid #fff;*/
  /*background-color: #e5e5e5;*/
/*  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);*/
}
.nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
background-color: transparent !important;;
}
  .search-input{width: 90%;}
  .sele-width{width: 90%;}
  .green-tag{/*    position: absolute;background-color: green;margin-top: -48px;margin-left: 76px;*/ margin-left: 73px;
    margin-right: -8px;
    margin-top: -68px;
-webkit-transform: rotate(-180deg);
/* Firefox */
-moz-transform: rotate(-180deg);

/* IE */
-ms-transform: rotate(-180deg);

/* Opera */
-o-transform: rotate(-180deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
width: 0;height: 0;border-top: 20px solid transparent;border-left: 19px solid #00a38e;
border-bottom: 0px solid transparent;}
  
  .resize-table{width: 95% !important; margin: 0 auto;margin-bottom: 30px;}
  .resize-content{width: 99% !important; margin: 0 auto; text-align: center;margin-bottom: 20px;}
  
  .top300{margin-top: 0px;}
  .top25-rep{margin-top: 0px;}
  .top24-res{margin-top: 0px;}
  .top95-rep{margin-top: 10px;}
  .navbar .nav {
position: relative;
left: 0;
display: block;
float: left !important;
margin: 0 10px 0 0;
}
  .ui-datepicker { width: 100%; padding: .2em .2em 0; }
  .ui-datepicker th { padding: 2px 1.5%;}
  .ui-datepicker td span, .ui-datepicker td a {padding: .2em;}
  #overlay1{display:none;position: absolute;padding: 5px;
          background-image: url('../images/img/overlay1.png');width: 82%;
height: 4.5%;cursor: not-allowed;z-index: 999;}
  
  
}