@charset "utf-8";
/* CSS Document */
body {

	font-size:11px;
	}
.agent_dashboard-out {
	width:850px;
	margin:auto;
	padding:0px 0px 0px 0px;
	}
.agent_dashboard-row {
	width:850px;
	float:left;
	padding:0px 0px 30px 0px;
	}
.agent_dashboard-box-out {
	width:244px;
	float:left;
	padding:0px 30px 0px 0px;
	}
.agent_dashboard-box-top {
	width:244px;
	height:13px;
	float:left;
	padding:0px 0px 0px 0px;
	background-image:url(../images/dash_box-top.jpg);
	background-repeat:no-repeat;
	}
.agent_dashboard-box-mdle {
	width:244px;
	height:139px;
	float:left;
	padding:0px 0px 0px 0px;
	background-image:url(../images/dash_box-mdle.jpg);
	background-repeat:repeat-y;
	}
.agent_dashboard-box-btm {
	width:244px;
	height:13px;
	float:left;
	padding:0px 0px 0px 0px;
	background-image:url(../images/dash_box-btm.jpg);
	background-repeat:no-repeat;
	}
.agent_dashboard-icon {
	width:90px;
	float:left;
	padding:0px 0px 0px 10px;
	}
.agent_dashboard-icon-2 {
	width:90px;
	float:left;
	padding:0px 10px 0px 10px;
	}
.agent_dashboard-h1 {
	width:126px;
	float:left;
	padding:10px 0px 0px 0px;
	color:#c91f1f;
	font-size:17px;
	font-weight:bold;
	}
.agent_dashboard-h2 {
	width:126px;
	float:left;
	padding:0px 0px 0px 0px;
	color:#4c4c4c;
	font-size:11px;
	text-decoration:none;
	}
.agent_dashboard-h2 ul {
	width:126px;
	float:left;
	padding:0px 0px 0px 0px;
	color:#4c4c4c;
	font-size:11px;
	text-decoration:none;
	}
.agent_dashboard-h2 li {
	width:126px;
	float:left;
	padding:0px 0px 5px 0px;
	color:#4c4c4c;
	font-size:11px;
	text-decoration:none;
	display:list-item;
	list-style:none;
	}
.agent_dashboard-h2 a {
	color:#4c4c4c;
	font-size:11px;
	text-decoration:none;
	}
.agent_dashboard-h2 a:hover {
	color:#4c4c4c;
	font-size:11px;
	text-decoration:underline;
	}
