<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title> Stay key </title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<!--<link href="css/reset.css" rel="stylesheet" type="text/css">-->

</head>
<body style="background:#232222 !important;">


    <!-- Top navigation bar -->
    <div id="topNav">
        <div class="fixed">
            <div class="wrapper">
               
          
            <div><a href="#"><img src="images/logo_new.png" width="200" height="69" border="0" style="margin:4px;" /></a>
      
                
            </div>   </div>
      </div>
    </div>
    <div class="fix">
    </div>
    <div style="display: none" align="right">
        <div id="ctl00_topmenus" class="topmenus">
            <a href="#" style="display: none;" class="activetebss">General Detail</a>
            
        </div>
    </div>
    <!-- Header -->
    
    <!-- Content wrapper -->
    <div class="wrapper" style="width:780px; margin:0 auto;" >
        
          	<div class="login-bg">
            	<div class="login-inner"><form action="" method="get">
                <div class="login-inner-heading">Existing<span style="color:#F69F3A;"> Partner</span></div>
                <div class="login-inner-username">User Name</div>
                <div class="login-inner-input-box"><input name="" type="text" style="width:260px ; height:24px; background-color:transparent; border:none; margin-bottom:10px;" /></div>
                 <div  class="login-inner-username" style="margin:10px 0 0 0 ;">Password</div>
                 <div class="login-inner-input-box"> <input name="" type="text"  style="width:260px ; height:24px; background-color:transparent; border:none;"/></div>
                 <div class="login-inner-forgot"><a href="#">Forgot your password</a>
                  <input name="" type="submit" value="" class="login-inner-submit" /></div>
                </form>
                </div>
            </div><!-- login-bg-->
            <div class="login-bg-right">
            	<div class="login-inner"><form action="" method="get">
                <div class="login-inner-heading">New <span style="color:#F69F3A;"> Partner</span></div>
               <div style="padding:20px; font-size:14px; letter-spacing:3px;">Welcome to <span style="color:#F69F3A;"><strong>Staykey.com</strong></span><span class="click-here"><br /><a href="#" >
Click here</a></span> to find out why you should join<span style="color:#F69F3A;"><strong>Staykey.com</strong></span> network</div>
<input name="" type="submit" value="" class="login-inner-sign-up" />
               
                </form>
                </div>
            </div><!-- login-bg-->
    <div class="fix">
    </div>
    </div>
    <div id="footer">
        <div class="wrapper">
            <span style="padding-top: 5px;text-align:center">
            <span id="ctl00_OptionalLinks_UpdatePanel_xlblmsg_1"></span>
            <!--<span style="float: right;">
                <input name="ctl00$OptionalLinks_UpdatePanel$Save" value="Save" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$OptionalLinks_UpdatePanel$Save", "", true, "", "", false, false))' id="ctl00_OptionalLinks_UpdatePanel_Save" class="button" style="height:28px;" type="submit">
            </span>--></span>
        </div>
    </div>
                <!-- Footer -->
</body></html>