<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title> Stay key </title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<!--<link href="css/reset.css" rel="stylesheet" type="text/css">-->

</head>
<body style="background:#232222 !important;">


    <!-- Top navigation bar -->
    <div id="topNav">
        <div class="fixed">
            <div class="wrapper">
               
          
            <div><a href="#"><img src="images/logo_new.png" width="200" height="69" border="0" style="margin:4px;" /></a>
      
                
            </div>   </div>
      </div>
    </div>
    <div class="fix">
    </div>
    <div style="display: none" align="right">
        <div id="ctl00_topmenus" class="topmenus">
            <a href="#" style="display: none;" class="activetebss">General Detail</a>
            
        </div>
    </div>
    <!-- Header -->
    
    <!-- Content wrapper -->
    <div class="wrapper" style="width:780px; margin:20px auto; color:#fff; background-color:#f7f7f7; " >
        
           <form action="" method="get">
           
           <table class="tableStatic" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;" width="43%">
                 <div><h1>New Partner</h1></div>
                 
                 <div class="fix">&nbsp;</div>
                    <span  class="inner-heading">General Information </span>
                </td>
                <td style="border-bottom:1px solid #dcdcdc;" width="57%">
                <div class="fix">&nbsp;</div>
                    
                    <span id="ctl00_OptionalLinks_UpdatePanel_xlblAccommodationName" style="font-weight:bold;"></span>
                </td>
            </tr>
            <tr>
                <td class="content-heading" style="border-bottom:1px solid #dcdcdc;">
                    <span  class="lables-move">Country</span>
                    
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    
                    <select name="ctl00$OptionalLinks_UpdatePanel$xddlStarClass" id="ctl00_OptionalLinks_UpdatePanel_xddlStarClass" class="subgetselectfields" style="width:360px;">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected="selected" value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>

</select>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <span>City</span>
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    
                        <span  style="display:inline-block;font-weight:bold;width:300px;"><input name="ctl00$OptionalLinks_UpdatePanel$xtxtTotalRooms" id="ctl00_OptionalLinks_UpdatePanel_xtxtTotalRooms" class="getfields" style="width:350px;" type="text"></span><br>
                </td>
            </tr>
            
             <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                     <span  class="lables-move"> Apartments Name: </span>
               </td>
                <td style="border-bottom:1px solid #dcdcdc;">
                     
                    <span  style="font-weight:bold;"><input name="ctl00$OptionalLinks_UpdatePanel$xtxtTotalRooms" id="ctl00_OptionalLinks_UpdatePanel_xtxtTotalRooms" class="getfields" style="width:350px;" type="text"></span>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <span > Language</span>
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <select name="ctl00$OptionalLinks_UpdatePanel$xddlUpdatesReceiveLanguage" id="ctl00_OptionalLinks_UpdatePanel_xddlUpdatesReceiveLanguage" class="getselectfields" style="width:360px;">
	<option value="26">Bahasa Indonesia</option>
	<option value="27">Bahasa Malaysia</option>
	<option value="3">Català</option>
	<option value="11">Čeština</option>
	<option value="10">Dansk</option>
	<option value="30">Eesti</option>
	<option selected="selected" value="40">English</option>
	<option value="2">Español</option>
	<option value="37">Filipino</option>
	<option value="1">Français</option>
	<option value="31">Hrvatski</option>
	<option value="38">Íslenska</option>
	<option value="4">Italiano</option>
	<option value="39">Khmer</option>
	<option value="24">Latviski</option>
	<option value="32">Lietuvių</option>
	<option value="12">Magyar</option>
	<option value="7">Norsk</option>
	<option value="16">Polski</option>
	<option value="6">Português (BR)</option>
	<option value="5">Português (PT)</option>
	<option value="13">Română</option>
	<option value="33">Slovenčina</option>
	<option value="35">Slovenščina</option>
	<option value="34">Srpski</option>
	<option value="8">Suomi</option>
	<option value="9">Svenska</option>
	<option value="36">Tiếng Việt</option>
	<option value="19">Türkçe</option>
	<option value="17">Ελληνικά</option>
	<option value="20">Български</option>
	<option value="18">Русский</option>
	<option value="25">Українська</option>
	<option value="23">עברית</option>
	<option value="21">عربي</option>
	<option value="28">हिन्दी</option>
	<option value="29">ภาษาไทย</option>
	<option value="22">한국어</option>
	<option value="14">日本語 [Nihongo]</option>
	<option value="15">简体中文 [Zhongwen]</option>

</select>
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">&nbsp;</td>
              
                <td style="border-bottom:1px solid #dcdcdc;">&nbsp;</td>
            </tr>
            
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <span  class="inner-heading">Main Contact Information </span>
                </td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    
                    <span  style="font-weight:bold;"></span>
                </td>
            </tr>
           
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <span >First Name</span>
                     
                                        
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <input name="ctl00$OptionalLinks_UpdatePanel$xtxtContractGroupBrand" id="ctl00_OptionalLinks_UpdatePanel_xtxtContractGroupBrand" class="getfields" style="width:350px;" type="text">
                </td>
            </tr>
            <tr>
                <td class="content-heading" style="border-bottom:1px solid #dcdcdc;">
                    <span  class="lables-move">Last Name</span>
                    
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    
                    <select name="ctl00$OptionalLinks_UpdatePanel$xddlStarClass" id="ctl00_OptionalLinks_UpdatePanel_xddlStarClass" class="subgetselectfields" style="width:360px;">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option selected="selected" value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>

</select>
                </td>
            </tr>
            <tr>
                <td class="content-heading" style="border-bottom:1px solid #dcdcdc;">
                    
                    
                    <span >Email Address</span>
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <input name="ctl00$OptionalLinks_UpdatePanel$xtxtWebsite" id="ctl00_OptionalLinks_UpdatePanel_xtxtWebsite" class="getfields" style="width:350px;" type="text">
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <span >Password</span>
                    
                    
                :</td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <input name="ctl00$OptionalLinks_UpdatePanel$xtxtEmail" id="ctl00_OptionalLinks_UpdatePanel_xtxtEmail" class="getfields" style="width:350px;" type="text">
                    
                </td>
            </tr>
            <tr>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <span >Retype Password :</span>
                </td>
                <td style="border-bottom:1px solid #dcdcdc;">
                    <input name="ctl00$OptionalLinks_UpdatePanel$xtxtTotalRooms" id="ctl00_OptionalLinks_UpdatePanel_xtxtTotalRooms" class="getfields" style="width:350px;" type="text">
                    
                    
                    
                </td>
            </tr>
            <tr>
                <td class="content-heading" style="border-bottom:1px solid #dcdcdc; ">
                    <span ></span>
                </td>
              <td class="content-right-heading" style="border-bottom:1px solid #dcdcdc;">
                <input name="" type="submit" value=""  class="login-inner-save" />
     </td>
            </tr>
            
        </tbody>
    </table>

           </form>
    <div class="fix">
    </div>
    </div>
    <div id="footer">
        <div class="wrapper">
            <span style="padding-top: 5px;text-align:center">
            <span id="ctl00_OptionalLinks_UpdatePanel_xlblmsg_1"></span>
            <!--<span style="float: right;">
                <input name="ctl00$OptionalLinks_UpdatePanel$Save" value="Save" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$OptionalLinks_UpdatePanel$Save", "", true, "", "", false, false))' id="ctl00_OptionalLinks_UpdatePanel_Save" class="button" style="height:28px;" type="submit">
            </span>--></span>
        </div>
    </div>
                <!-- Footer -->
</body></html>